/**************************************
Author: Aileen Cortes
Description: Style Sheet for Assignment
***************************************/

.external-css{
    color: coral;
    background-color: blanchedalmond;
}